body {
    background-color: black;
    color: white;
    font-family: Consolas, "Cascadia Mono", "Courier New", monospace;
    font-size: 18px;
}

input {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
}